* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

#top {
    text-align: center;
}

#top>p {
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
}

nav {
    z-index: 1;
    text-align: center;
    width: 100%;
    word-spacing: 3vw;
    background-color: black;
    padding: 2%;
}

nav>a {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: white;
    padding-right: 3em;
}

.object {
    margin: 3vh;
    border: 1px solid black;
    padding: 1%;
    width: 18vw;
    height: 53vh;
    display: block;
    text-align: center;
    box-shadow: 0.1rem 0.1rem 0 0 gray;
    transition: 200ms;
    border-radius: 1%;
}

.object>img {
    width: 15vw;
    height: 42vh;
    margin: 0;
}

.object:hover {
    transform: scale(1.1);
}

.desc {
    font-family: "Montserrat", sans-serif;
    font-size: small;
    margin-top: 0.5vh;
}

.title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

#art {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#about {
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 100%;
}

#about-title {
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    color: white;
    align-self: center;
}

#about-desc {
    display: inline-block;
    color: white;
    align-self: flex-start;
    font-size: small;
    font-family: "Montserrat", sans-serif;
    padding: 3%;
    padding-left: 9%;
    padding-right: 9%;
}

#name {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: small;
}

.pop-up {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    align-items: center;
    padding: 2%;
    z-index: 10;
    border-radius: 0.3rem;
}

.pop-up>img {
    background-position: center;
    background-image: fill;
    border-radius: 0.3rem;
}

.pop-up>p {
    font-family: "Montserrat", sans-serif;
    font-size: small;
}

.hidden {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}